/* Coolors Exported Palette - coolors.co/ead353-3d4955-4c5454-ff715b-e7ecef */

/* HSL */
$color1: hsla(51%, 78%, 62%, 1);
$color2: hsla(210%, 16%, 29%, 1);
$color3: hsla(180%, 5%, 31%, 1);
$color4: hsla(8%, 100%, 68%, 1);
$color5: hsla(203%, 20%, 92%, 1);

/* RGB */
/* yellow */ $color1: rgba(234, 211, 83, 1);
/* dark blue */ $color2: rgba(61, 73, 85, 1);
/* dark gray */ $color3: rgba(76, 84, 84, 1);
/* red */ $color4: rgba(255, 113, 91, 1);
/* light gray */ $color5: rgba(231, 236, 239, 1);
/* light blue */ $color5: rgba(118, 142, 165, 1);
