/* Global  Styles */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgba(76, 84, 84, 1);
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: rgba(76, 84, 84, 1);
  padding-bottom: 24px;
}

h2 {
  font-size: 1rem;
  line-height: 1.4rem;
  padding-bottom: 24px;
}

.overlay {
  color: #ffffff;
}

.container {
  width: 960px;
  margin: auto;
}

.button-yellow {
  color: rgba(61, 73, 85, 1);
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  background-color: rgba(234, 211, 83, 1);
  padding: 12px 60px;
}


/* Nav Bar */
.nav-bar {
  height: 64px;
  background-color: #ffffff;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-lockup img {
  height:  32px;
  width: auto;
}

.nav-menu a {
  font-size: 0.875rem;
  margin-left: 16px;
  text-decoration: none;
  color: rgba(76, 84, 84, 1);
}

/* Banner */
.background-dk {
  background-color: rgba(61, 73, 85, 1);
}

.banner img {
  width: 60%;
  height: auto;
  padding: 32px 24px 32px 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  width: 35%;
}

.intro h2 {
  padding-bottom: 44px;
}
